Repository eole-nlp/eole, pull requests merged in 2024-10, with the labels that each got.

#98 Initial support for Metal Performance Shaders (MPS)
  eole/bin/model/extract_embeddings.py
  eole/inference_engine.py
  eole/inputters/dynamic_iterator.py
  eole/models/model.py
  eole/modules/multi_headed_attn.py
  eole/predict/beam_search.py
  eole/predict/greedy_search.py
  eole/predict/inference.py
  eole/train_single.py
  eole/trainer.py
  eole/utils/loss.py
  eole/utils/misc.py
Labels: enhancement

#32 fineweb10B/gpt2 recipe, and supporting changes
  .github/workflows/push.yml
  eole/config/training.py
  eole/models/model.py
  eole/tests/pull_request_check.sh
  eole/tests/test_model_lm.yml
  eole/tests/test_recipes.py
  eole/trainer.py
  eole/utils/optimizers.py
  recipes/cometkiwi/cometkiwi-xl-eole.yaml
  recipes/cometkiwi/cometkiwi-xl-inference.yaml
  recipes/cometkiwi/cometkiwi-xxl-eole.yaml
  recipes/cometkiwi/cometkiwi-xxl-inference.yaml
  recipes/fineweb10B/README.md
  recipes/fineweb10B/fineweb10B.yaml
  recipes/fineweb10B/merges.txt
  recipes/fineweb10B/parse_fineweb_10B.py
  recipes/fineweb10B/vocab.txt
  recipes/llama2/llama-finetune.yaml
  recipes/wiki_103/wiki_103.yaml
  recipes/wmt17/wmt17_ende.yaml
Labels: recipes

#129 Update WMT17 recipe with working tokenization transforms examples
  docs/docusaurus_tsx/docs/concepts/command_line.md
  eole/bin/run/build_vocab.py
  eole/inputters/text_corpus.py
  eole/transforms/tokenize.py
  recipes/wmt17/README.md
  recipes/wmt17/prepare_wmt_ende_data.sh
  recipes/wmt17/wmt17_ende_bpe.yaml
  recipes/wmt17/wmt17_ende_bpe_onmt_tokenize.yaml
  recipes/wmt17/wmt17_ende_spm.yaml
  recipes/wmt17/wmt17_ende_spm_onmt_tokenize.yaml
Labels: documentation, recipes
